<div class="card text-center">
  <div class="card-header">
    Author: {{user.username}}
  </div>
  <div class="card-body">
    <h5 class="card-title" id="title">{{title}}</h5>
    <p class="card-text" id="content">{{content}}</p>
    <a href="#" class="btn btn-primary">Update</a>
  </div>
  <div class="card-footer text-body-secondary">
    Created: {{createdAt}}
  </div>
</div>