<div class="card text-center">
  <div class="card-header">
  </div>
  <div class="card-body">
    <h5 class="card-title" id="title">{{blogPost.title}}</h5>
    <p class="card-text" id="content">{{blogPost.content}}</p>
    <a href="/api/users/{{id}}" class="btn btn-primary">Edit</a>
  </div>
  <div class="card-footer text-body-secondary">
    Created: {{blogPost.createdAt}}
  </div>
</div>
